<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Stateanimal:</strong>
  <%= @state.stateAnimal %>
</p>

<p>
  <strong>Population:</strong>
  <%= @state.population %>
</p>

<p>
  <strong>Capitol:</strong>
  <%= @state.capitol %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
